body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  max-width: 400px;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px #404040 solid;
  box-sizing: border-box;
}

main {
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-desc {
  padding: 1rem;
}

.side-allpage {
  width: 100%;
}
